IIS/Vjezbe08/Client/WSKlijent/src/META-INF/wsdl/localhost_3291/Service1.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServis" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServis"><xs:complexType name="ArrayOfKolegij"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Kolegij" nillable="true" type="tns:Kolegij"/></xs:sequence></xs:complexType><xs:element name="ArrayOfKolegij" nillable="true" type="tns:ArrayOfKolegij"/><xs:complexType name="Kolegij"><xs:sequence><xs:element minOccurs="0" name="ECTS" type="xs:int"/><xs:element minOccurs="0" name="IDKolegij" type="xs:int"/><xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Nositelj" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="Kolegij" nillable="true" type="tns:Kolegij"/><xs:complexType name="ArrayOfStudent"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student"/></xs:sequence></xs:complexType><xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent"/><xs:complexType name="Student"><xs:sequence><xs:element minOccurs="0" name="GodinaStudija" type="xs:int"/><xs:element minOccurs="0" name="IDStudent" type="xs:int"/><xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="JMBAG" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Prezime" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="Student" nillable="true" type="tns:Student"/></xs:schema>