IIS/Vjezbe09/Klijent/IISVjezbe09Klijent/IISVjezbe09Klijent/Service References/WSJava/WSVjezbe09.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://java.racunarstvo/" targetNamespace="http://java.racunarstvo/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getStudentById" type="tns:getStudentById" />
  <xs:element name="getStudentByIdResponse" type="tns:getStudentByIdResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getStudentById">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getStudentByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:student" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="student">
    <xs:sequence>
      <xs:element minOccurs="0" name="ime" type="xs:string" />
      <xs:element minOccurs="0" name="prezime" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>